@import url('https://fonts.googleapis.com/css2?family=Raleway');

*{font-family: 'Raleway', 'century gothic', sans-serif;
    box-sizing: border-box;}

body{background-color: #C4FFD0;}

nav{
    padding: 0.5rem;
    display: flex;
    /*background-color: rgb(194, 132, 132);*/
    margin: 1rem;
    box-shadow: 0em .0em .5em #93d3a0; 
    align-items: center;
}
nav .logoArgProg{
    width: 4rem;
    border-radius: 50%;
}
.programa h1{
    font-size: 0.8rem;
}
.social img{
    width: 2.5rem;
}
.social a{
    text-decoration: none;
    opacity: .4;
}
.social:hover{
    bottom: .5rem;
    background-color: #eee;
    background-size: 3rem;
    box-shadow: 0 .25rem .5rem #333;
    /* x y blur color */
}
.login{margin: .25rem 0 .5rem auto; border-radius: .25rem; padding: .5rem 1.5rem; color: #eee; font-size: 1rem; background-color: #007FFF;}

.login:hover{text-shadow: 0 0 .5rem #012;background-color: #4194e7;}